<meta charset="UTF-8">
<title>DocTracker</title>
<link rel="stylesheet" href="/public/lib/bootstrap-3.3.7-dist/css/bootstrap.css">
<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="/public/lib/bootstrap-material/css/bootstrap-material-design.min.css">
<link rel="stylesheet" href="/public/lib/bootstrap-material/css/ripples.min.css">
<link rel="stylesheet" href="/public/css/style.css">
<!-- Material Design fonts -->
<meta name="viewport" content="width=device-width, initial-scale=1">