<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head.ejs %>
</head>
<body>
<header>
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">DocTracker</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <a href="#"> Welcome <%= user.fullname%> </a>
                    </li>

                    <li>
                        <a href="/search?search=<%= user.fullname%>&filter=owner">
                            My documents
                        </a>
                    </li>

                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <a class="card text-center" id="add-document" href="/add-document">
                <i class="glyphicon glyphicon-plus"></i>
                <br/>
                Add document
            </a>

            <form id="search-form" method="get" action="/search" class="form-inline">
                <fieldset>
                    <div class="form-group">
                        <input type="search" name="search" class="form-control" placeholder="Search">
                        <select id="document-category" name="filter" class="form-control">
                            <option value="title">Title</option>
                            <option value="keyword">Keyword</option>
                            <option value="owner">By owner</option>
                            <option value="date">By date</option>
                        </select>
                        <input class="btn-success btn" type="submit" value="Search"/>
                    </div>
                </fieldset>
            </form>
        </div>
        <br/>
        <br/>
        <div class="col-md-12">
            <h4>
                Document departments
            </h4>
            <ul id="categories">
                <li>
                    <a href="/search?department=success">
                        Success
                    </a>
                </li>
                <li>
                    <a href="/search?department=recruitment">
                        Recruitment
                    </a>
                </li>
                <li>
                    <a href="/search?department=sales">
                        Sales
                    </a>
                </li>
                <li>
                    <a href="/search?department=marketing">
                        Marketing
                    </a>
                </li>
                <li>
                    <a href="/search?department=finance">
                        Finance
                    </a>
                </li>
                <li>
                    <a href="/search?department=operations">
                        Operations
                    </a>
                </li>
                <li>
                    <a href="/search?department=training">
                        Training
                    </a>
                </li>
            </ul>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>

<footer>
    <% include ../partials/footer.ejs %>
</footer>
</body>

</html>